.container {
  display: flex;
  width: 100%;
  max-width: 800px;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}