.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerContainer {
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
}

.column1 {
  display: flex;
  width: 60%;
}

.column2 {
  display: flex;
  width: 20%;
}